---
import { BooksComponent_6 } from '../../../../../registry/AmericanSpeakOutStarter/6/BooksComponent_6.js';
const { RowA, RowB, H3A, H4A, H4B, H5A, ULA, LIA, InputTextA, GridA } = BooksComponent_6;

const NumberWords = ["zero", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine", "ten"];
---

<RowA>
    <div slot="Mid">
        <RowB>
            <div slot="Start">
                <H3A text="1" />
            </div>
            <div slot="Mid">
                <H4A text="A" />
            </div>
            <div slot="End">
                <H5A text="Match the words in the box with the numbers." />
            </div>
        </RowB>
    </div>
                </RowA>
                <RowA>
                    <div slot="Mid">
                        <ULA>
                            <LIA text={NumberWords[0]} />
                            <LIA text={NumberWords[9]} />
                            <LIA text={NumberWords[3]} />
                            <LIA text={NumberWords[1]} />
                            <LIA text={NumberWords[7]} />
                            <LIA text={NumberWords[10]} />
                            <LIA text={NumberWords[4]} />
                            <LIA text={NumberWords[2]} />
                            <LIA text={NumberWords[8]} />
                            <LIA text={NumberWords[5]} />
                            <LIA text={NumberWords[6]} />
                        </ULA>
                    </div>
                </RowA>
                <RowA>
                    <div slot="Mid">
                        <GridA rows={4} cols={3}>
                            <RowB>
                                <div slot="Mid">
                                    <H4B text="0." />
                                </div>
                                <div slot="End">
                                    <InputTextA text="zero" solutions={["zero"]} />
                                </div>
                            </RowB>
                            <RowB>
                                <div slot="Mid">
                                    <H4B text="1." />
                                </div>
                                <div slot="End">
                                    <InputTextA solutions={["one"]} />
                                </div>
                            </RowB>
                            <RowB>
                                <div slot="Mid">
                                    <H4B text="2." />
                                </div>
                                <div slot="End">
                                    <InputTextA solutions={["two"]} />
                                </div>
                            </RowB>
                            <RowB>
                                <div slot="Mid">
                                    <H4B text="3." />
                                </div>
                                <div slot="End">
                                    <InputTextA solutions={["three"]} />
                                </div>
                            </RowB>
                            <RowB>
                                <div slot="Mid">
                                    <H4B text="4." />
                                </div>
                                <div slot="End">
                                    <InputTextA solutions={["four"]} />
                                </div>
                            </RowB>
                            <RowB>
                                <div slot="Mid">
                                    <H4B text="5." />
                                </div>
                                <div slot="End">
                                    <InputTextA solutions={["five"]} />
                                </div>
                            </RowB>
                            <RowB>
                                <div slot="Mid">
                                    <H4B text="6." />
                                </div>
                                <div slot="End">
                                    <InputTextA solutions={["six"]} />
                                </div>
                            </RowB>
                            <RowB>
                                <div slot="Mid">
                                    <H4B text="7." />
                                </div>
                                <div slot="End">
                                    <InputTextA solutions={["seven"]} />
                                </div>
                            </RowB>
                            <RowB>
                                <div slot="Mid">
                                    <H4B text="8." />
                                </div>
                                <div slot="End">
                                    <InputTextA solutions={["eight"]} />
                                </div>
                            </RowB>
                            <RowB>
                                <div slot="Mid">
                                    <H4B text="9." />
                                </div>
                                <div slot="End">
                                    <InputTextA solutions={["nine"]} />
                                </div>
                            </RowB>
                            <RowB>
                                <div slot="Mid">
                                    <H4B text="10." />
                                </div>
                                <div slot="End">
                                    <InputTextA solutions={["ten"]} />
                                </div>
                            </RowB>
                        </GridA>
                    </div>
                </RowA>