---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import H2A from '../components/GenericsComponents/H2A.astro';
import RowA from '../components/GenericsComponents/RowA.astro';
import ClickeableIconA from '../components/GenericsComponents/ClickeableIconA.astro';
import CDA from '../assets/cd_a.png';
import RowB from '../components/GenericsComponents/RowB.astro';
import H3A from '../components/GenericsComponents/H3A.astro';
import H4A from '../components/GenericsComponents/H4A.astro';
import PA from '../components/GenericsComponents/PA.astro';

const AltCDA = "CD Icon";
---
<Layout>
    <main>
        <Header />
        <section>
            <div class="left">
                <RowA>
                    <H2A slot="Mid" text="NUMBERS 1-10" />
                </RowA>
                
                <RowA>
                    <div slot="Mid">
                        <RowB>
                            <div slot="Start">
                                <H3A text="1" />
                            </div>
                            <div slot="Mid">
                                <H4A text="A" />
                            </div>
                            <div slot="End">
                                <PA text="Match the words in the box whith the numbers." />
                            </div>
                        </RowB>
                    </div>
                </RowA>
                <RowA>
                    <div slot="Start">
                        <ClickeableIconA src={CDA.src} alt={AltCDA} />
                    </div>
                    <div slot="Mid">
                        <RowB>
                            <div slot="Mid">
                                <H4A text="B" />
                            </div>
                            <div slot="End">
                                <PA text="Listen and check. Then listen and repeat." />
                            </div>
                        </RowB>
                    </div>
                </RowA>
                <RowA>
                    <div slot="Start">
                        <ClickeableIconA src={CDA.src} alt={AltCDA} />
                    </div>
                    <div slot="Mid">
                        <RowB>
                            <div slot="Mid">
                                <H4A text="C" />
                            </div>
                            <div slot="End">
                                <PA text="Listen and write the numbers." />
                            </div>
                        </RowB>
                    </div>
                </RowA>
                <RowA>
                    <div slot="Mid">
                        <RowB>
                            <div slot="Mid">
                                <H4A text="D" />
                            </div>
                            <div slot="End">
                                <PA text="Work in pairs and take turns. Student: A say a number: Student B: say the next number:" />
                            </div>
                        </RowB>
                    </div>
                </RowA>
                <RowA>
                    <div slot="Start">
                        <ClickeableIconA src={CDA.src} alt={AltCDA} />
                    </div>
                    <div slot="Mid">
                        <RowB>
                            <div slot="Start">
                                <H3A text="2" />
                            </div>
                            <div slot="Mid">
                                <H4A text="A" />
                            </div>
                            <div slot="End">
                                <PA text="Match the words in the box with pictures 1-6." />
                            </div>
                        </RowB>
                    </div>
                </RowA>
                <RowA>
                    <div slot="Start">
                        <ClickeableIconA src={CDA.src} alt={AltCDA} />
                    </div>
                    <div slot="Mid">
                        <RowB>
                            <div slot="Mid">
                                <H4A text="B" />
                            </div>
                            <div slot="End">
                                <PA text="Listen and check. Then listen and repeat." />
                            </div>
                        </RowB>
                    </div>
                </RowA>
                <RowA>
                    <div slot="Mid">
                        <RowB>
                            <div slot="Mid">
                                <H4A text="C" />
                            </div>
                            <div slot="End">
                                <PA text="Work on pairs. Write five more international words." />
                            </div>
                        </RowB>
                    </div>
                </RowA>

            </div>
            <div class="right">
                <h1>Page b</h1>
            </div>
        </section>
    </main>
</Layout>

<style>
    main {
        height: 100vh;
        width: 75vh;
        background-color: #d6e5e9;
    }
    section {
        height: 46vh;
        width: 100%;
        display: flex;
    }
    .left, .right {
        width: 50%;
        height: 100%;
        border: 1px solid black;
    }
</style>